body {
    background-color: lightblue;
}
div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.temprature_setting {
    flex-direction: row;
}
@media screen and (max-width: 600px) {
    form {
        width: 100%;
    }
}
.header {
    text-align: center;
}
form {
    margin: 0 auto;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

input[type="number"],
input[type="radio"],
input[type="checkbox"],
label {
    margin: 5px 0;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
a, button {
    transition: background-color 0.3s ease;
}
